/* Importing google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap");

/* Importing all components*/
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/header.css");
@import url("components/cards.css");
@import url("components/footer.css");
@import url("components/list.css");
@import url("components/signup.css");
@import url("components/form.css");
@import url("components/images.css");

/* Elements*/

body{
	background: white;
	color:black;
	font-family: 'Nunito Sans', sans-serif;
	margin: 0;
	}

h1,h2,h3,h4,p {
	font-family: 'Nunito Sans', sans-serif;
	}

h1 {
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 65px;
color: #000000;
}

h2 {
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 49px;
color: #000000;
}

h3 {
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 33px;
color: #000000;
}


a {
	text-decoration: none;
}

ul {
	padding-inline-start: 0px;
}

footer {
	background-color: rgba(0, 0, 0, 0.17);
	padding: 10px 10px 10px 30px;
}

.grey{
	color: rgba(0, 0, 0, 0.17);
	}
.orange{
	color: #F2A22C;
	}
.white{
	color: white;
	}

.background-orange {
	background-color:#F2A22C; 
	}






/* RECIPE PAGE Zucchini */
.recipe-info{
	display: flex;
	flex-grow: 1;
	margin: 6px
	}

.recipe-info img{
	width: 80px;
	height: 90px;
	padding-right: 15px;
	align-self: center;
	}

.recipe-info-grid{
	display: flex;
	flex-wrap: wrap;
	}

.recipe-title {
	display: flex;
	margin-bottom: 20px;
	}

.recipe-title i{
	color: #FF1616;
	}

.recipe-title img{
	height: 170px;
	}






