/* Banner on the Homepage*/

.banner-home {
	background-image: linear-gradient(-220deg, rgba(255,0,0,0.3) 0%, rgba(0,0,0,0.1) 70%), url("../../images/backgroung2.jpg");
	background-position: center;
	background-size: cover;
	padding: 10px;
	margin: 0px;
}

.banner-home h1{
	color: white;
	font-weight: 700;
}

.banner-home h2{
	font-weight: 700;
	font-size:30px;
}

/* Banner on the About us Page and Blog*/

.banner-separated {
	background-color:#FF1616;
	display: flex; 
	justify-content: space-between;
	padding: 40px;
	}

.bloc-text {
	padding: 10px 10px 10px 40px;
	}

.bloc-text h1,h2,p{
	flex-grow: 1;
	}

.banner-separated img{
	flex-grow: 1;
	margin-left: 80px;
	}


/* Banner on the Search Page*/

.banner-search {
	background-color:#FF1616;
	text-align: center;
	padding: 10px;
	padding-bottom: 20px;
	}

.banner-search input{
	margin: auto;
	}