.container {
    width: 1276px;
    margin: 20px auto;
	}

@media (max-width: 1276px){
	.container{
	width:900px
		}
}
@media (max-width: 960px){
	.container{
	width:700px
	}
}
@media (max-width: 720px){
	.container{
	width:500px
	}
}

@media (max-width: 540px){
	.container{
	width:300px
	}
}