/* Main container to center and align + Margins */

.container {
    width: 1276px;
    margin: 20px auto;
	}

@media (max-width: 1276px){
	.container{
	width:900px
		}
}
@media (max-width: 960px){
	.container{
	width:700px
	}
}
@media (max-width: 720px){
	.container{
	width:500px
	}
}

@media (max-width: 540px){
	.container{
	width:300px
	}
}

/* Other containers */

#container-team {
	width: 1200px;
	margin: 40px auto;
	text-align: center;
}

@media (max-width:  900px) {
	#container-team {
		width: 600px;
	}
}


#container-choice h1 { 
	margin-top: 70px;
	margin-left: 60px;
}

#container-choice a {
	margin-top: 70px;
	margin-left: 1500px;
	margin-top: -100px;
}
