.header{
	padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
}


.header h2{
	color: #F2A22C;
    flex-grow: 1;
}

.header h3{
	padding-right: 15px;
}

@media (max-width: 960px){
    .header {
    width:700px
        }
}

@media (max-width: 720px){
    .header {
    width:500px
    }
}

@media (max-width: 540px){
    .header .logo {
    width:300px
    }
}