.header{
	padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header h2{
	color: #F2A22C;
    flex-grow: 1;
    padding: 7px;
}

.header h3{
	padding-right: 15px;
}

@media (max-width: 720px){
    .header h2{
    font-size: 25px;
    }
    .header h3{
    font-size: 20px;
    }
    .logo img{
    width: 77px;
    height: 83px;
    padding-right: 35px;
    }
}

@media (max-width: 570px){
    .header h2{
    font-size: 20px;
    }
    .header h3{
    font-size: 15px;
    }
    .logo img{
    width: 80px;
    height: 83px;
    padding-right: 20px;
    }
}
