/* CSS code for the Header */

.header{
	padding: 5px;
   	display: flex;
	align-items: center;
	justify-content: space-between;
}


/* CSS code for the titles in the Header */

.header-h2{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 49px;
    color: #000000;
    }

.header-h3{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    }


.header-h2{
	color: #F2A22C;
    flex-grow: 1;
    padding: 7px;
}

.header-h3{
	padding-right: 15px;
}



/* CSS code for the responsive design */

@media (max-width: 720px){
    .header-h2{
    font-size: 25px;
    }
    .header-h3{
    font-size: 20px;
    }
    .logo img{
    width: 77px;
    height: 83px;
    padding-right: 35px;
    }
}

@media (max-width: 570px){
    .header-h2{
    font-size: 20px;
    }
    .header-h3{
    font-size: 15px;
    }
    .logo img{
    width: 80px;
    height: 83px;
    padding-right: 20px;
    }
}
